Sistema Facturacion/src/wsdl/localhost_8080/GatewayWS/Facturacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gatewayws.pandatech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gatewayws.pandatech.com/" name="Facturacion">
<types>
<xsd:schema>
<xsd:import namespace="http://gatewayws.pandatech.com/" schemaLocation="http://localhost:8080/GatewayWS/Facturacion?xsd=1"/>
</xsd:schema>
</types>
<message name="facturar">
<part name="parameters" element="tns:facturar"/>
</message>
<message name="facturarResponse">
<part name="parameters" element="tns:facturarResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="comprobanteXml">
<part name="parameters" element="tns:comprobanteXml"/>
</message>
<message name="comprobanteXmlResponse">
<part name="parameters" element="tns:comprobanteXmlResponse"/>
</message>
<portType name="Facturacion">
<operation name="facturar">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/facturarRequest" message="tns:facturar"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/facturarResponse" message="tns:facturarResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://gatewayws.pandatech.com/Facturacion/facturar/Fault/InterruptedException"/>
</operation>
<operation name="comprobanteXml">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/comprobanteXmlRequest" message="tns:comprobanteXml"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/comprobanteXmlResponse" message="tns:comprobanteXmlResponse"/>
</operation>
</portType>
<binding name="FacturacionPortBinding" type="tns:Facturacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="facturar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="comprobanteXml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Facturacion">
<port name="FacturacionPort" binding="tns:FacturacionPortBinding">
<soap:address location="http://localhost:8080/GatewayWS/Facturacion"/>
</port>
</service>
</definitions>