Sistema_Facturacion/src/wsdl/localhost_8080/GatewayWS/Facturacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gatewayws.pandatech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gatewayws.pandatech.com/" name="Facturacion">
<types>
<xsd:schema>
<xsd:import namespace="http://gatewayws.pandatech.com/" schemaLocation="http://localhost:8080/GatewayWS/Facturacion?xsd=1"/>
</xsd:schema>
</types>
<message name="autenticacion">
<part name="parameters" element="tns:autenticacion"/>
</message>
<message name="autenticacionResponse">
<part name="parameters" element="tns:autenticacionResponse"/>
</message>
<message name="firmaXml">
<part name="parameters" element="tns:firmaXml"/>
</message>
<message name="firmaXmlResponse">
<part name="parameters" element="tns:firmaXmlResponse"/>
</message>
<message name="Facturacion">
<part name="parameters" element="tns:Facturacion"/>
</message>
<message name="FacturacionResponse">
<part name="parameters" element="tns:FacturacionResponse"/>
</message>
<message name="creacionObjetoJson">
<part name="parameters" element="tns:creacionObjetoJson"/>
</message>
<message name="creacionObjetoJsonResponse">
<part name="parameters" element="tns:creacionObjetoJsonResponse"/>
</message>
<message name="enviarDocumento">
<part name="parameters" element="tns:enviarDocumento"/>
</message>
<message name="enviarDocumentoResponse">
<part name="parameters" element="tns:enviarDocumentoResponse"/>
</message>
<message name="desconexion">
<part name="parameters" element="tns:desconexion"/>
</message>
<message name="desconexionResponse">
<part name="parameters" element="tns:desconexionResponse"/>
</message>
<message name="validacionEstado">
<part name="parameters" element="tns:validacionEstado"/>
</message>
<message name="validacionEstadoResponse">
<part name="parameters" element="tns:validacionEstadoResponse"/>
</message>
<message name="comprobanteXml">
<part name="parameters" element="tns:comprobanteXml"/>
</message>
<message name="comprobanteXmlResponse">
<part name="parameters" element="tns:comprobanteXmlResponse"/>
</message>
<portType name="Facturacion">
<operation name="autenticacion">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/autenticacionRequest" message="tns:autenticacion"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/autenticacionResponse" message="tns:autenticacionResponse"/>
</operation>
<operation name="firmaXml">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/firmaXmlRequest" message="tns:firmaXml"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/firmaXmlResponse" message="tns:firmaXmlResponse"/>
</operation>
<operation name="Facturacion">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/FacturacionRequest" message="tns:Facturacion"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/FacturacionResponse" message="tns:FacturacionResponse"/>
</operation>
<operation name="creacionObjetoJson">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/creacionObjetoJsonRequest" message="tns:creacionObjetoJson"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/creacionObjetoJsonResponse" message="tns:creacionObjetoJsonResponse"/>
</operation>
<operation name="enviarDocumento">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/enviarDocumentoRequest" message="tns:enviarDocumento"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/enviarDocumentoResponse" message="tns:enviarDocumentoResponse"/>
</operation>
<operation name="desconexion">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/desconexionRequest" message="tns:desconexion"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/desconexionResponse" message="tns:desconexionResponse"/>
</operation>
<operation name="validacionEstado">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/validacionEstadoRequest" message="tns:validacionEstado"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/validacionEstadoResponse" message="tns:validacionEstadoResponse"/>
</operation>
<operation name="comprobanteXml">
<input wsam:Action="http://gatewayws.pandatech.com/Facturacion/comprobanteXmlRequest" message="tns:comprobanteXml"/>
<output wsam:Action="http://gatewayws.pandatech.com/Facturacion/comprobanteXmlResponse" message="tns:comprobanteXmlResponse"/>
</operation>
</portType>
<binding name="FacturacionPortBinding" type="tns:Facturacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmaXml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Facturacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creacionObjetoJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desconexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validacionEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobanteXml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Facturacion">
<port name="FacturacionPort" binding="tns:FacturacionPortBinding">
<soap:address location="http://localhost:8080/GatewayWS/Facturacion"/>
</port>
</service>
</definitions>